/* ======================================
BACKGROUNDS
====================================== */

// Animations
@keyframes bg-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.bg {
    animation-name: bg-fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background-position: center;
    left: 0; top: 0;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    width: 100vw; height: 100vh;
}

.bg-home {
    background-image: url('../assets/images/main_bg.jpg');
}

.bg-blog {
    background-image: url('../assets/images/blog_bg.jpg');
}

.bg-post {
    background-image: url('../assets/images/post_bg.jpg');
}

.bg-nopage {
    background-image: url('../assets/images/nopage_bg.jpg');
}