@use '../abstracts/' as a;

/* ====================================
Layout
==================================== */
* {
  box-sizing: border-box;
}

body {
  background-color: #111111;
  margin: 0;
  overflow: hidden;
}

.page-content {
  // background-color: transparent;
  background-image: url("../assets/images/blog_bg.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff00;
  display: flex;
  flex-direction: column;
  overflow: overlay;
  padding: 1rem;
  position: absolute;
  top: 0;
  transition: 0.4s color;
  width: 100vw;
  height: 100vh;
}

.page-content:hover {
  color: #ffffff55;
  // overflow: overlay;
}

// ============================================
// TESTING STUFF
// ============================================

.progress-box {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #aaaaaa55;
  border-radius: 0.3rem;
  box-shadow: 0 0 30px #00000055;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-height: 500px;
  max-width: 350px;
  min-height: 400px;
  position: relative;
  width: 100%;
}

.percent-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.percent-box svg {
  margin: auto;
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
}

.percent-box svg circle {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  stroke-width: 3px;
}

// BG Stroke
.percent-box svg circle:nth-child(1) {
  stroke: #00aaff22;
  stroke-dashoffset: 0;
  stroke-width: 10px;
}

// FG Stroke
.percent-box svg circle:nth-child(2) {
  stroke: #00bbff;
  stroke-dashoffset: calc(440 - (440 * 55) / 100);
}
